@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../public/resources/bgImg.jpg');
  background-size: cover;
  opacity: 0.8;
  color: white;
}
.boxes{
  width: 80px;
  height: 80px;
  margin: 0;
  /* border: 2px solid whitesmoke; */
}
#tictactoeBox{
  width: 240px;
  height: 240px;
}
#dabba1{
 border-bottom: 2px solid white; 
 border-right: 2px solid white;
}
#dabba2{
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
#dabba3{
  border-bottom: 2px solid white;
}
#dabba4{
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
#dabba5{
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
#dabba6{
  border-bottom: 2px solid white;
}
#dabba7{
  border-right: 2px solid white;
}
#dabba8{
  border-right: 2px solid white;
}