@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../public/resources/bgImg.jpg');
  background-size: cover;
  opacity: 0.8;
  color: white;
}
.mainBox{
  width: 100vw;
  height: 100vh;
}
#tictactoeBox{
  width: 300px;
  height: 300px;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 20px;
}
.boxes{
  width: 80px;
  height: 80px;
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: black;
  /* border: 2px solid whitesmoke; */
}
.boxes:hover{
  cursor: grab;
}
#dabba1{
 border-bottom: 3px solid black; 
 border-right: 3px solid black;
}
#dabba2{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#dabba3{
  border-bottom: 3px solid black;
}
#dabba4{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#dabba5{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#dabba6{
  border-bottom: 3px solid black;
}
#dabba7{
  border-right: 3px solid black;
}
#dabba8{
  border-right: 3px solid black;
}